<a href="https://colab.research.google.com/github/Zoya-Haris/Machine-Learning/blob/main/CarEvaluation_KNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [ ]:
df = pd.read_csv('/content/car_evaluation.csv', names= ['buying','maint','doors','persons','lug_boot','safety','class'])

In [ ]:
df.shape

(1728, 7)

In [ ]:
df.head()

  buying  maint doors persons lug_boot safety  class
0  vhigh  vhigh     2       2    small    low  unacc
1  vhigh  vhigh     2       2    small    med  unacc
2  vhigh  vhigh     2       2    small   high  unacc
3  vhigh  vhigh     2       2      med    low  unacc
4  vhigh  vhigh     2       2      med    med  unacc

In [ ]:


df.tail()

     buying maint  doors persons lug_boot safety  class
1723    low   low  5more    more      med    med   good
1724    low   low  5more    more      med   high  vgood
1725    low   low  5more    more      big    low  unacc
1726    low   low  5more    more      big    med   good
1727    low   low  5more    more      big   high  vgood

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1728 non-null   object
 1   maint     1728 non-null   object
 2   doors     1728 non-null   object
 3   persons   1728 non-null   object
 4   lug_boot  1728 non-null   object
 5   safety    1728 non-null   object
 6   class     1728 non-null   object
dtypes: object(7)
memory usage: 94.6+ KB

In [ ]:
df.isnull().sum()

buying      0
maint       0
doors       0
persons     0
lug_boot    0
safety      0
class       0
dtype: int64

In [ ]:
df['class'].unique()

array(['unacc', 'acc', 'vgood', 'good'], dtype=object)

In [ ]:
df['buying'].unique(),df['maint'].unique()

(array(['vhigh', 'high', 'med', 'low'], dtype=object),
 array(['vhigh', 'high', 'med', 'low'], dtype=object))

In [ ]:
df['doors'].unique(), df['persons'].unique()

(array(['2', '3', '4', '5more'], dtype=object),
 array(['2', '4', 'more'], dtype=object))

In [ ]:
df['lug_boot'].unique(), df['safety'].unique()

(array(['small', 'med', 'big'], dtype=object),
 array(['low', 'med', 'high'], dtype=object))

In [ ]:
df

     buying  maint  doors persons lug_boot safety  class
0     vhigh  vhigh      2       2    small    low  unacc
1     vhigh  vhigh      2       2    small    med  unacc
2     vhigh  vhigh      2       2    small   high  unacc
3     vhigh  vhigh      2       2      med    low  unacc
4     vhigh  vhigh      2       2      med    med  unacc
...     ...    ...    ...     ...      ...    ...    ...
1723    low    low  5more    more      med    med   good
1724    low    low  5more    more      med   high  vgood
1725    low    low  5more    more      big    low  unacc
1726    low    low  5more    more      big    med   good
1727    low    low  5more    more      big   high  vgood

[1728 rows x 7 columns]

In [ ]:
df['class'],class_names= pd.factorize(df['class'])

In [ ]:
class_names, df['class'].unique()

(Index(['unacc', 'acc', 'vgood', 'good'], dtype='object'), array([0, 1, 2, 3]))

In [ ]:
#x= df
#y = df['class']
#from sklearn.preprocessing import LabelEncoder

#le = LabelEncoder()

#x['class'] = le.fit_transform(x['class'])

#y = le.transform(y)

In [ ]:
#for in df:
  #df[i],_=pd.factorize(df[i])

In [ ]:
df['buying'],_ =pd.factorize(df['buying'])
df['maint'],_ = pd.factorize(df['maint'])
df['doors'],_ = pd.factorize(df['doors'])
df['persons'],_ = pd.factorize(df['persons'])
df['lug_boot'],_ = pd.factorize(df['lug_boot'])
df['safety'],_ = pd.factorize(df['safety'])
df

      buying  maint  doors  persons  lug_boot  safety  class
0          0      0      0        0         0       0      0
1          0      0      0        0         0       1      0
2          0      0      0        0         0       2      0
3          0      0      0        0         1       0      0
4          0      0      0        0         1       1      0
...      ...    ...    ...      ...       ...     ...    ...
1723       3      3      3        2         1       1      3
1724       3      3      3        2         1       2      2
1725       3      3      3        2         2       0      0
1726       3      3      3        2         2       1      3
1727       3      3      3        2         2       2      2

[1728 rows x 7 columns]

In [ ]:

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1728 non-null   int64
 1   maint     1728 non-null   int64
 2   doors     1728 non-null   int64
 3   persons   1728 non-null   int64
 4   lug_boot  1728 non-null   int64
 5   safety    1728 non-null   int64
 6   class     1728 non-null   int64
dtypes: int64(7)
memory usage: 94.6 KB

In [ ]:
df.dtypes

buying      int64
maint       int64
doors       int64
persons     int64
lug_boot    int64
safety      int64
class       int64
dtype: object

In [ ]:
X = df.drop('class', axis=1)                          #X = df.iloc[:,:-1]
y = df[['class']]                                     #y = df.iloc[:,-1]

In [ ]:
X

      buying  maint  doors  persons  lug_boot  safety
0          0      0      0        0         0       0
1          0      0      0        0         0       1
2          0      0      0        0         0       2
3          0      0      0        0         1       0
4          0      0      0        0         1       1
...      ...    ...    ...      ...       ...     ...
1723       3      3      3        2         1       1
1724       3      3      3        2         1       2
1725       3      3      3        2         2       0
1726       3      3      3        2         2       1
1727       3      3      3        2         2       2

[1728 rows x 6 columns]

In [ ]:
y

      class
0         0
1         0
2         0
3         0
4         0
...     ...
1723      3
1724      2
1725      0
1726      3
1727      2

[1728 rows x 1 columns]

In [ ]:

from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test= train_test_split(X,y,test_size= 0.3,random_state=0)

In [ ]:
x_train.shape,y_train.shape

((1209, 6), (1209, 1))

In [ ]:
x_test.shape,y_test.shape

((519, 6), (519, 1))

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier(n_neighbors=5)
model.fit(x_train, y_train)

KNeighborsClassifier()

In [ ]:
y_pred = model.predict(x_test)

In [ ]:
y_pred.shape

(519,)

In [ ]:
import os
from sklearn.metrics import accuracy_score

#count_misclassified = (y_test != y_pred).sum()
#print('Misclassified samples: {}'.format(count_misclassified))
accuracy = accuracy_score(y_test, y_pred)
print('Accuracy: {:.2f}'.format(accuracy))

Accuracy: 0.93

In [ ]:
for K in range(25):
  K_value= K+1
  neigh = KNeighborsClassifier(n_neighbors =K_value)
  neigh.fit(x_train, y_train)
  y_pred = neigh.predict(x_test)  
  print("Accuracy is ", accuracy_score(y_test,y_pred)*100,"% for K-Value:",K_value)

Accuracy is  83.42967244701349 % for K-Value: 1
Accuracy is  80.92485549132948 % for K-Value: 2
Accuracy is  88.4393063583815 % for K-Value: 3
Accuracy is  88.2466281310212 % for K-Value: 4
Accuracy is  92.67822736030828 % for K-Value: 5
Accuracy is  92.29287090558766 % for K-Value: 6
Accuracy is  93.25626204238921 % for K-Value: 7
Accuracy is  90.7514450867052 % for K-Value: 8
Accuracy is  90.94412331406551 % for K-Value: 9
Accuracy is  88.2466281310212 % for K-Value: 10
Accuracy is  89.98073217726397 % for K-Value: 11
Accuracy is  89.21001926782274 % for K-Value: 12
Accuracy is  89.78805394990366 % for K-Value: 13
Accuracy is  88.6319845857418 % for K-Value: 14
Accuracy is  88.2466281310212 % for K-Value: 15
Accuracy is  87.66859344894027 % for K-Value: 16
Accuracy is  88.4393063583815 % for K-Value: 17
Accuracy is  88.4393063583815 % for K-Value: 18
Accuracy is  89.01734104046243 % for K-Value: 19
Accuracy is  89.78805394990366 % for K-Value: 20
Accuracy is  89.01734104046243 % for K-Value: 21
Accuracy is  88.82466281310212 % for K-Value: 22
Accuracy is  89.59537572254335 % for K-Value: 23
Accuracy is  89.59537572254335 % for K-Value: 24
Accuracy is  89.59537572254335 % for K-Value: 25